{% extends 'main.html' %}

{% block body_block %}


<div class="form-box">

    <form class="watch-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit </button>
    </form>
</div>





<style>

    body {
        background-color: #000000;
        color: #fff; 
        font-family: 'Poppins', sans-serif; 
    }


    .form-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #000000; 
        padding: 30px;
    }


    .watch-form {
        background-color: #000000; 
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); 
        max-width: 600px; 
        width: 100%;
    }


    .watch-form input,
    .watch-form select,
    .watch-form textarea {
        background-color: #333;
        color: #fff;
        border: 1px solid #444; 
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        transition: border-color 0.3s ease, background-color 0.3s ease;
    }

    .watch-form input:focus,
    .watch-form select:focus,
    .watch-form textarea:focus {
        outline: none;
        border-color: #f0d43a;
        background-color: #292929;
    }

    /* Submit button */
    .btn-primary {
        background-color: #f0d43a;
        border: none;
        color: #333;
        padding: 12px 20px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        box-shadow: 0 4px 15px rgba(240, 212, 58, 0.4);
    }

    .btn-primary:hover {
        background-color: #ffcc00;
        transform: translateY(-3px); 
    }

    .btn-primary:active {
        transform: translateY(0);
        box-shadow: 0 2px 10px rgba(240, 212, 58, 0.3);
    }


    @media (max-width: 768px) {
        .watch-form {
            padding: 20px;
        }

        .btn-primary {
            font-size: 16px;
            padding: 10px 15px;
        }
    }
</style>


{% endblock %}